# Не завантажуємо саму базу даних (вона може бути дуже великою)
*.db
*.sqlite

# Тимчасові файли Python та VS Code
__pycache__/
.vscode/
*.pyc

# Якщо CSV-файли занадто великі, їх зазвичай не вантажать, 
# але для портфоліо можна залишити, якщо вони до 100MB.
# Але у нас є генератор, тому завантаження скриптів - головне.
